<div class="col-xs-12 col-md-12" style="width: 65%; margin-left: 20%">
    <div style="text-align:center;background-color:#1A6225; font-size:30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <b> </b>
        <div class="titulo" style="color:white">SEL - Código de confirmación </div>
    </div>

    <div style="background-color:azure; ">
        <br />
        <article class="col-xs-12 col-md-6" style="font-size:15px; margin-left: 5%; color:black;">
            Estimado/a Sr. / Sra.: <br />
            <strong> @ViewBag.repreLegal </strong> <br />
            
            <br /><br />
            Es grato dirigirnos a usted, para saludarlo y comunicarle que se le generó el siguiente código de validación <strong> @ViewBag.codigoValid </strong>.
        </article>

        <article style="font-size:15px; color:black; margin-left: 5%">
            Los detalles podrán ser visualizados a través del Sistema en Línea del Programa ingresando a la página  web: <a href="https://www.agroideas.gob.pe/">www.agroideas.gob.pe</a>
        </article>

        <br />

    </div>
</div>