<div class="col-xs-12 col-md-12" style="width: 65%; margin-left: 20%">
    <div style="text-align:center;background-color:#1A6225; font-size:30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <b> </b>
        <div class="titulo" style="color:white">Declaración de Elegibilidad </div>
    </div>

    <div style="background-color:azure; ">
        <br />
        <article class="col-xs-12 col-md-6" style="font-size:15px; margin-left: 5%; color:black;">
            Estimado/a Sr. / Sra.: <br />
            <strong> @ViewBag.repreLegal </strong> <br />
            Representante Legal de <strong> @ViewBag.RazSocial </strong>.
            <br /><br />
            Es grato dirigirnos a usted, para saludarlo y comunicarle que la solicitud de acreditación de elegibilidad presentada por su representada ha sido declarada <strong> @ViewBag.estadoActual </strong> para acceder a los incentivos que ofrece el <strong>Programa de Compensaciones para la Competitividad - Agroideas</strong>.
        </article>

        <br />
        <article style="font-size:15px; color:black; margin-left: 5%">
            Con la declaración de elegibilidad, su organización ha superado el primer paso de su proceso de postulación a los incentivos que ofrece <strong>AGROIDEAS</strong>. 
        </article>

        <br />
        <article style="font-size:15px; color:black; margin-left: 5%">
            En tl sentido, se encuentra calificada para proseguir con el segundo paso, mediante la presentación de las solicitudes de apoyo de intérés. 
        </article>
         

        <br />
        <article style="font-size:15px; color:black; margin-left: 5%">
            Los detalles podrán ser visualizados a través del Sistema en Línea del Programa ingresando a la página  web: <a href="https://www.agroideas.gob.pe/">www.agroideas.gob.pe</a>
        </article>

        <br />

    </div>
</div>