<div class="col-xs-12 col-md-12" style="width: 65%; margin-left: 20%">
    <div style="text-align:center;background-color:#1A6225; font-size:30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <b> </b>
        <div class="titulo" style="color:white">SEL - Expediente de Elegibilidad Observado </div>
    </div>

    <div style="background-color:azure; ">
        <br />
        <article class="col-xs-12 col-md-6" style="font-size:15px; margin-left: 5%; color:black;">
            Estimado/a Sr. / Sra.: <br />
            <strong> @ViewBag.repreLegal </strong> <br />
            Representante Legal de <strong> @ViewBag.RazSocial </strong>.
            <br /><br />
            Es grato dirigirnos a usted, para saludarlo y comunicarle que se ha realizado la evaluacion de su solicitud de:<strong> @ViewBag.proceso </strong>, 
            y como resultado se ha formualdo observaciones.

        </article>

        <br />
        <article style="font-size:15px; color:black; margin-left: 5%">
            El detalle de las observaciones podrá ser visualizado a través del Sistema en Línea del Programa ingresando a la página  web: <a href="https://www.agroideas.gob.pe/">www.agroideas.gob.pe</a>
        </article>

        <br />
        <article style="font-size:15px; color:black; margin-left: 5%">
            Para tales fines su representada cuenta con un plazo máximo de <strong> @ViewBag.periodoEstado </strong> días hábiles a partir de la fecha de recepción de esta notificación para <strong>la  subsanación de las observaciones identificadas.</strong> Asi mismo a solicitud de la organización, este plazo podrá ser ampliado hasta por un periodo máximo de <strong> 10 días hábiles</strong> adicionales.
        </article>
        <br />

    </div>
</div>