
@{
    ViewBag.Title = "enConstruccion";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

 

<!DOCTYPE html>

<style>
  

</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="background-image: url('../Imagen/2.png');"> 
    </div>
</body>
</html>



 