@model SEL_Entidades.Seguridad_E.OpcionPerfil_E 

@{
    ViewBag.Title = "opcionesporperfil";
    Layout = "~/Views/Shared/_LayoutMenuASist.cshtml";
}

<title>Opciones por Perfil</title>

<div class="main-content">
<!-- contenedor -->

<div class="main-content-inner">

    <div class="main-container ace-save-state" id="main-container">

        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
            <!-- Inicio Ruta -->

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/Home/Modulos/">Opciones por Perfil</a>
                </li>
                <li><a href="/UASistemas/Index">U. Sistemas</a></li>
                <li class="active"> <a href="/UASistemas/menuporperfil">Opciones por Perfil</a></li>
            </ul>
        </div><!-- Fin ruta -->

        <div class="page-content">
            <!-- contenido -->

            <div class="page-header">
                <!-- Inicio titulo -->
                <div class="col-md-12">
                    <h1>OPCIONES POR PERFIL</h1>
                </div>
            </div>                  <!-- Fin titulo -->
            <!-- inicio pasos-->
            <div class="col-xs-12">
                <!-- contenido de pasos -->
                <div id="accordion" style="border:1px solid;">
                    <div class="card">

                        <div class="widget-header card-header" id="headingOne" style="text-align:left;">
                            <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <a href="#" style="color:white; text-decoration:none;">
                                    <i class="ace-icon fa fa-file"></i>
                                    &nbsp;&nbsp; Criterios de Búsqueda
                                </a>
                            </h5>
                            <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <a href="#" data-action="collapse" style="color:#fff;">
                                    <i class="ace-icon fa fa-chevron-down"></i>
                                </a>
                            </div>
                        </div>


                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="padding-left:12px;padding-right:12px;">
                                <br />

                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                        <div>
                                            <label style="text-align:left;">Perfil :</label>
                                        </div>
                                        <div>
                                            <select id="cbxPerfilFl" class="custom-select" style="width:65%;"> </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-3" style="text-align: left;">
                                        <div>
                                            <label style="text-align:left;">&nbsp;</label>
                                        </div>
                                        <div>
                                            <button id="btnConsultarOpcxPerfil" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-search"></i>Consultar</button>
                                            <button id="btnLimpiarOpcxPerfil" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-eraser"></i>Limpiar</button>
                                        </div>
                                    </div>
                                     
                                </div>
                             
                            </div><!-- fin contenido-->
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-12">

                    <br>
                    <div align="right" class="row">

                        <button id="btnNuevoOpcxPerfil" type="button" class="btn btn-primary" style="width:10%; margin-right:2%;">
                            <i class="glyphicon glyphicon-plus"></i> Nuevo
                        </button><br />
                    </div>

                    @*<div id="div-tabla" class="table table-bordered table-hover table-striped" style="width:100%">*@
                    <div id="div-tabla" class="table-responsive margen">
                        <table id="tablaOpcxPerfil" class="table table-bordered table-hover table-striped">

                            <thead>
                                <tr>
                                    <th rowspan="2" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;min-width:5%; max-width:5%">Id</th>
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Nro.</th>
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Menú</th>
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Opción</th>
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Perfil</th>
                                   
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">insertar</th>
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Modiicar</th>
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Eliminar</th>
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Visualizar</th>
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Imprimir</th>
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Completo</th>

                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Activo</th>
                               
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha Registro</th>
                                
                                    <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha de Modificacion</th>
                                    <th colspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Acción</th>
                                </tr>

                                <tr>
                                    <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Modificar</th>
                                    <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Eliminar</th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>


                <div class="modal" id="modalOpcxPerfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header alert-success alert-dismissible">
                                <button id="btnClose" type="button" class="close" data-dismiss="modal"></button>
                                <h4 class="modal-title" id="myModalLabel"> Opciones por Perfil </h4>
                            </div>
                            <div class="modal-body" style="max-height:90%">
                                <form id="formSelectores">
                                    @using (Html.BeginForm())
                                    {

                                        <div class="row" style="margin-bottom:10px;">
                                            <div id="idModuloMenu" class="col-xs-12 col-md-12" style="text-align:left; display:none;">
                                                <label style="text-align: left;">ID:</label>
                                                @Html.TextBoxFor(model => model.IdOpcionPerfil, new { @class = "campoNumero", style = "width:31%", disabled = "disabled" })
                                            </div>

                                        </div>

                                        <div class="row" style="margin-bottom:10px;">
                                            <div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
                                                <label style="text-align: left; margin-bottom:5%; width:30%;">Aplicación : </label>
                                                @*@Html.TextBox("aplicacion", (string)"", new { @class = "campoNumero", style = "display:none; width:31%", disabled = "disabled" })*@
                                                <select id="cbxAplicacionFr" class="custom-select" style="width:60%;"> </select>
                                            </div>
                                        </div>


                                            <div class="row" style="margin-bottom:10px;">
                                                <div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
                                                    <label style="text-align: left; margin-bottom:5%; width:30%;">Módulo : </label>
                                                     @*@Html.TextBox("modulo", (string)"", new { @class = "campoNumero", style = "display:none; width:31%", disabled = "disabled" })*@
                                                     <select id="cbxModuloFr" class="custom-select" style="width:60%;"> </select> 
  
                                                </div>
                                            </div>

                                            <div class="row" style="margin-bottom:10px;">
                                                <div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
                                                    <label style="text-align: left; margin-bottom:5%; width:30%;">Menú de Módulo : </label>
                                                    @*@Html.TextBox("menu", (string)"",  new { @class = "campoNumero", style = "display:none; width:31%", disabled = "disabled" })*@
                                                      
                                                    <select id="cbxMenuFr" class="custom-select" style="width:60%;"> </select>
                                                </div>
                                            </div>


                                            <div class="row" style="margin-bottom:10px;">
                                                <div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
                                                    <label style="text-align: left; margin-bottom:5%; width:30%;">Opcion de Menú : </label>
                                                    @*@Html.TextBox("menu", (string)"",  new { @class = "campoNumero", style = "display:none; width:31%", disabled = "disabled" })*@
                                                     
                                                    <select id="cbxOpcionFr" class="custom-select" style="width:60%;"> </select>
                                                </div>
                                            </div>



                                            <div class="row" style="margin-bottom:10px;">
                                                <div class="col-xs-12 col-md-12" style="text-align:left;">
                                                    <label style="text-align: left; margin-bottom:5%; width:30%;">Perfil : </label>
                                                    @*@Html.TextBox("perfil", (string)"", new { @class = "campoNumero", style = "display:none; width:31%", disabled = "disabled" })*@
                                                    <select id="cbxPerfilFr" class="custom-select" style="width:60%;"> </select>
                                                </div>
                                            </div>

                                            <div class="row" id="selectoresRdb" style="margin-bottom:10px;">
                                                <div class="col-xs-12 col-md-12" style="text-align:left;">
                                                    <label style="text-align: left; width:30%;">Controles: </label>
                                                     
                                                    <label style="width:45%; text-align:left"><input id="boxTodos" type="checkbox" name="checkbox"> Todos </label>
                                                    <div class="row" style="margin-bottom:10px;">
                                                        <div class="col-xs-12 col-md-12 panel panel-default" style="width:90%; margin-left:1%; margin-top:1%;">
                                                            <div class="panel-body inline-block" style="text-align:left">
                                                                <input type="checkbox" class="custom-control-input" id="rbRegistrar" name="Radios[]" checked value="Registrar"> Registrar
                                                                @*<label class="custom-control-label" for="defaultChecked">Registrar</label>*@
                                                                &nbsp; &nbsp;&nbsp;
                                                                <input type="checkbox" class="custom-control-input" id="rbModificar" name="Radios[]" checked value="Modificar"> Modificar
                                                                @*<label class="custom-control-label" for="defaultChecked">Modificar</label>*@
                                                                &nbsp; &nbsp;&nbsp;
                                                                <input type="checkbox" class="custom-control-input" id="rbEliminar" name="Radios[]" checked value="Eliminar"> Eliminar
                                                                @*<label class="custom-control-label" for="defaultChecked">Eliminar</label>*@
                                                                &nbsp; &nbsp;&nbsp;
                                                                <input type="checkbox" class="custom-control-input" id="rbVisualizar" name="Radios[]" checked value="Visualizar"> Visualizar
                                                                @*<label class="custom-control-label" for="defaultChecked">Visualizar</label>*@
                                                                &nbsp; &nbsp;&nbsp;
                                                                <input type="checkbox" class="custom-control-input" id="rbImprimir" name="Radios[]" checked value="Imprimir"> Imprimir
                                                                @*<label class="custom-control-label" for="defaultChecked">Imprimir</label>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                     
                                                </div>
                                            </div>
                                             
                                            <div class="col-xs-12 col-md-12" style="text-align:left; margin-bottom:5%; display:none;">
                                                <label style="text-align: left;">Responsable :</label>
                                                @Html.TextBox("idUsuar", (string)"", new { @class = "campoNumero", style = "width:25%", Value = @Session["IdUsua"] })
                                            </div>
                                    }
                                </form>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="btnAgregarOpcPer"><i class="fa fa-save"></i> Guardar</button>
                                    <button type="button" class="btn btn-warning" id="btnModificarOpcPer" style="display:none;"><i class="fa fa-edit"></i> Modificar</button>
                                    <button type="button" class="btn btn-danger"  id="btnCerrarFormularioOpcPer" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
                                </div>
                            </div>



                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
         
        controles_OpcionesPerfil();
       
          
    })
</script>